html {
  background-color: #282828;
}

body {
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: arial;
  height: 100%;
}

body {
  max-width: 1300px;
  padding: 30px;
  font-family: Abel;
  height: 100%;
  box-sizing: border-box;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: #202020 !important;
}

label.waves-basic-controllers {
  background-color: #202020 !important;
  border-color: #444444 !important;
}

label.waves-basic-controllers .legend {
  /*font-family: Abel !important;*/
  /*font-weight: normal !important;*/
}

label.waves-basic-controllers.dark.title {
  background: none !important;
}

.waves-basic-controllers.toggle .toggle-container {
  top: 2px !important;
}

h1 {
  margin: 30px 0 0 0;
  color: #ffffff;
  font-size: 3rem;
  font-style: italic;
}

section {
  overflow: auto;
  position: relative;
  height: 100%;
}

section h2 {
  font-family: Abel;
  color: #efefef;
  padding: 0;
  margin: 0 0 16px 0;
  font-size: 3rem;
}

section h2 a {
  color: inherit;
  text-decoration: none;
}

section p {
  color: white;
  font-size: 1.6rem;
  width: 52%;
}

section .controls {
  float: left;
  width: 52%;
  box-sizing: border-box;
  margin: 15px 0 0 0;
}

section pre {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 46%;
  box-sizing: border-box;
  margin: 0 !important;
}

@media only screen and (max-width: 700px) {
  body, html, section, section pre {
    height: auto;
  }

  section .controls, section pre, section p {
    float: none;
    width: 100%;
    padding-right: 0;
    position: static;
  }

  section pre {
    margin-top: 40px !important;
  }
}
